<form ng-submit="vm.submit()">
  <div>
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="vm.todo.name">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <label>Description</label>
      <input type="text" ng-model="vm.todo.description">
    </md-input-container>
  </div>
  <div>
    <div layout="column" layout-wrap layout-gt-sm="row">
      <div flex-xs flex="50">
        <md-checkbox ng-model="vm.todo.completed">
          Completed?
        </md-checkbox>
      </div>
    </div>
  </div>
  <md-button type="submit" class="md-primary md-raised">Update Todo</md-button>
</form>
